<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<body>

<div class="container">
    <div class="main-body">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Task Manager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                    </ul>

                    <!--                    <form class="d-flex">-->
                    <!--                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
                    <!--                        <button class="btn btn-outline-success" type="submit">Search</button>-->
                    <!--                    </form>-->
                </div>
            </div>
        </nav>
        <!-- /Breadcrumb -->
        <div class="center">
            <div class="row gutters-sm">
                <div class="col-md-5 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <div class="mt-3">
                                    <h4 th:text="'Project - ' + ' ' + ${project.name}"></h4>
                                    <p class="text-secondary mb-1" th:text="'Status - ' + ' ' + ${project.status}"></p>
                                    <p class="text-muted font-size-sm"
                                       th:text="${'Deadline - ' + ' ' + project.deadline}">Deadline</p>
                                    <button class="btn btn-success" data-toggle="modal" data-target="#myModal">Add
                                        Task
                                    </button>
                                    <button class="btn btn-info" data-toggle="modal" data-target="#myModal1">Edit
                                        Project
                                    </button>
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#myModal2">Delete
                                        Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="container bootstrap snippets bootdey">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-box no-header clearfix">
                            <div class="main-box-body clearfix">
                                <div class="table-responsive">
                                    <table class="table user-list">

                                        <thead>
                                        <tr>
                                            <th class="text-center"><span>Task Name</span></th>
                                            <th class="text-center"><span>Task Status</span></th>
                                            <th class="text-center"><span>Task Deadline</span></th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr>

                                        <tr th:each="task : ${tasks}">

                                            <span class="user-subhead">
                                                <td class="text-center" th:text="${task.name}"></td>
                                            </span>

                                            <td class="text-center" th:text="${task.status}"></td>
                                            <td class="text-center" th:text="${task.deadline}"></td>


                                            <td style="width: 20%;">

                                                <button type="button" class="btn btn-default btn-sm"
                                                        th:onclick="|window.location.href='/task/${task.id}'|">
                                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                                </button>
                                            </td>


                                        </tr>

                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<script type="text/javascript">
function clearFieldsAddTask() {
    document.getElementById("task-name").value=""
    document.getElementById("task-deadline").value=""
}

function addTaskFormFunction() {
    document.getElementById("addTaskForm").submit();
}

function editProjectFunction() {
    document.getElementById("editProjectForm").submit();
}

function deleteProjectFunction() {
    document.getElementById("deleteProjectForm").submit();
}
</script>

<!-- pop up add task -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add a new task</h4>
            </div>
            <div class="modal-body">
                <form id="addTaskForm" method="post" th:object="${taskModel}"
                      th:action="@{/project/{idm}/addTask(idm=${taskModel.idm})}">

                    <div class="form-group">
                        <label for="task-name" class="col-form-label">Task name:</label>
                        <input name="name" th:field="*{name}" type="text" class="form-control" id="task-name">
                    </div>
                    <div class="form-group">
                        <label for="task-deadline" class="col-form-label">Task deadline:</label>
                        <input name="deadline" th:field="*{deadline}" type="date" id="task-deadline" min="2021-11-07"
                               max="2025-01-01">
                    </div>

                    <div class="modal-footer">
                        <button onclick="addTaskFormFunction()" class="btn btn-default"
                                data-dismiss="modal" value="Clear">Add Task
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                onclick="clearFieldsAddTask()" value="Clear">Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- pop up edit project -->
<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit project</h4>
            </div>
            <div class="modal-body">
                <form id="editProjectForm" th:method="put" th:object="${project}"
                      th:action="@{/project/{idm}/updateProject(idm=${project.idm})}">

                    <div class="form-group">
                        <label for="name" class="col-form-label">Project name:</label>
                        <input name="name" type="text" class="form-control" id="name" th:value="${project.name}">
                    </div>
                    <div class="form-group">
                        <label for="status" class="col-form-label">Project status:</label>
                        <select th:field="*{status}" id="status">
                            <option th:value="'In Progress'">in Progress</option>
                            <option th:value="'Done'">Done</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="deadline" class="col-form-label">Project deadline:</label>
                        <input type="date" id="deadline" name="deadline" min="2021-11-07" max="2025-01-01"
                               th:field="${project.deadline}">
                    </div>

                    <div class="modal-footer">
                        <button onclick="editProjectFunction()" class="btn btn-default"
                                data-dismiss="modal" value="Clear">Edit Project
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


<!-- pop up delete project -->
<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete project</h4>
            </div>
            <div class="modal-body">
                <form id="deleteProjectForm" th:method="delete" th:object="${project}"
                      th:action="@{/project/{idm}/deleteProject(idm=${project.idm})}">
                    <div class="form-group">
                        <h5>Are you sure you want to remove this project?</h5>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button onclick="deleteProjectFunction()" type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


</body>

<script th:src="@{/bootstrap/js/bootstrap.min.js}"/>
</html>